h1, h2, h3, h4, h5, h6 {
  margin-top: .25rem;
  margin-bottom: .5rem;

  font-family: $header-font;
  font-weight: normal;
  line-height: 1.2;
}

h1 { font-size: 400%; }
h2 { font-size: 300%; }
h3 { font-size: 250%; }

h1, h2, h3 {
  text-align: center;
}