{% extends "layout.nunjucks" %}

{% set page_title = "gifts-of-hope" %}

{% set num_sponsors = 55 %}
{% set donation_total = 6500 %}
{% set donation_goal = 6500 %}
{% set num_families = 65 %}

{% block site_title %}Give a Christmas Gift of Hope to Parents of Children Undergoing Cancer Treatment |
{% endblock %}

{% block share_meta %}
  <meta property="og:url" content="https://www.emmashopeinc.org/gifts-of-hope/2018"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Give the Gift of Hope This Christmas"/>
  <meta property="og:description" content="Spread kindness and hope this Christmas season by giving the gift of a $100 gift card to families whose children are battling cancer or life-threatening illnesses."/>
  <meta property="og:image" content="https://www.emmashopeinc.org/img/gifts-of-hope/2018/gifts-of-hope-2018.jpg"/>
{% endblock share_meta %}

{% block page_class %}gifts-of-hope{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Gifts of Hope - 2018</h1>
  </section>

  <section class="content-block">
    <h2>Thank You!</h2>
    <p>Because of your incredible generosity, all 65 families were sponsored!! Your gift is a big deal! Because of you, these families will all receive a $100 gift card to use as they need.</p>
    <p>You're making our dream a reality, and we cannot thank you enough!</p>
  </section>
  
  <hr class="separator">

  <section class="content-block">
    <h2>Past Years</h2>
    <p>Look back on how you and the community helped families at Christmas time!</p>
    <a href="/gifts-of-hope/2019">&larr; 2019</a>
    <br>
    <a href="/gifts-of-hope/2018">&larr; 2018</a>
    <br>
    <a href="/gifts-of-hope/2017">&larr; 2017</a>
  </section>
{% endblock %}