.content-block {
  max-width: 60ch;
  margin: 0 auto 4rem;

  h2 {
    text-align: left;
  }

  p {
    margin-left: 0;
  }

  dl div {
    margin-bottom: 1rem;
  }

  dt,
  dd {
    display: inline-block;
  }
    dt {
      min-width: 80px;
      padding-right: 1rem;

      font-weight: bold;
      text-align: right;
    }

    dl.list--wide dt {
      min-width: 150px;
    }

    dd {
      margin: 0;
    }
}