.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  
  &-item {
    flex: 1;
    
    .grid--3 & {
      flex: 1 1 calc(100% / 3);
    }
    
    img {
      max-height: 90px;
      max-width: 250px;
    }
    
    img.sponsor {
      max-height: 120px;
      max-width: 400px;
    }
  }
}