{% extends "layout.nunjucks" %}

{% set page_title = "brand-assets" %}

{% block site_title %}Brand Assets and Guidelines for Emma's Hope |
{% endblock %}

{% block page_class %}about{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Brand Assets</h1>
    <h2>Our Name</h2>
    <p>"Emma's Hope", is two words, with a capital E and a capital H. There is also an apostraphe after "Emma" and before the "s".</p>
  </section>

  <section class="content-block margin-top">
    <h2>Our Logo</h2>
    <p>We always pair our name with our E icon, but sometimes use the E icon by itself. The E icon can take on multiple colors and styles to fit the context of the design, however any variations need to be approved by Emma's Hope with written permission.</p>
    <div class="grid grid--2">
      <div class="grid-item margin-bottom--big-force">
        <p>
          <strong>Full Logo</strong><br>
          Download
          <a href="/img/brand-assets/logos/emmas-hope-full-logo_eps.zip">EPS</a>
          or
          <a href="/img/brand-assets/logos/emmas-hope-full-logo_png.zip">PNG</a>
          files.</p>
      </div>
      <div class="grid-item margin-bottom--big-force">
        <p>
          <strong>E Logo</strong><br>
          Download
          <a href="/img/brand-assets/logos/emmas-hope-e-logo_eps.zip">EPS</a>
          or
          <a href="/img/brand-assets/logos/emmas-hope-e-logo_png.zip">PNG</a>
          files.</p>
      </div>
    </div>

    <img src="/img/brand-assets-logos.jpg" alt="Collection of variations of Emma's Hope logos.">
  </section>

  <section class="content-block">
    <h2>Our Colors</h2>
    <p>Soft Pink is our primary color. We use Charade, Pampas, and Turkish Rose as accent colors.</p>
    <div class="grid grid--4 text-center">
      <div class="grid-item margin-bottom--big-force bg--pink">
        <p>#EF5F89</p>
      </div>
      <div class="grid-item margin-bottom--big-force bg--darkblue">
        <p>#2B2D3A</p>
      </div>
      <div class="grid-item margin-bottom--big-force bg--gray">
        <p>#EFEBE8</p>
      </div>
      <div class="grid-item margin-bottom--big-force bg--purple">
        <p>#B26D7D</p>
      </div>
    </div>
  </section>

  <hr class="separator">

  <section class="content-block">
    <h2>When Using, Please Don't</h2>
    <ul class="spaced-list">
      <li>Alter these files in any way.</li>
      <li>Display these graphics in a way that implies a relationship, affiliation, or endorsement by Emma's Hope of your product, service, or business.</li>
      <li>Use these graphics as part of your own product, business, or service’s name.</li>
      <li>Combine these graphics with any other graphics without written consent from Emma's Hope.</li>
    </ul>
  </section>

{% endblock %}