.site {
  padding-top: 6rem;
  margin: 0;

  background: url('../img/header-flowers--full@2x.jpg') left top no-repeat;
  background-size: 30%;

  @media (min-width: 940px) {
    padding-top: 0;
    background-size: 333px 354px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 3rem;
    padding-top: 2rem;

    background: url('../img/title-separator@2x.png') center top no-repeat;
    background-size: 174px;
    line-height: 1;

    @media (min-width: 450px) {
      margin-top: 3rem;
    }
  }
}