{% extends "layout.nunjucks" %}

{% block site_title %}Thank You for Registering for Golf for Hope 2018! | {% endblock %}

{% block page_class %}thank-you{% endblock %}

{% block site_content %}
  <section class="content-block text-center">
    <h1 class="site-title">Thank You for Registering!</h1>
    <h2 class="text-center">You are now registered for<br> Golf for Hope 2018!</h2>
    <br>
    <p>You will receive an email receipt for your purchase.</p>
    <p>You and your crew will receive a reminder email with more instructions a week before the event.</p>
    <p>We'll see you on July 9th, 2018 at 10am!</p>
  </section>
{% endblock %}