{% extends "layout.nunjucks" %}

{% set page_title = "events" %}

{% block site_title %}2018 Golf For Hope Charity Golf Tournament | {% endblock %}

{% block page_class %}events{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Golf for Hope - 2018</h1>
    <h2>Tournament Details</h2>
    <dl class="list--wide">
      <div>
        <dt>Date</dt>
        <dd>July 9, 2018</dd>
      </div>
      <div>
        <dt>Location</dt>
        <dd>Kanon Valley Country Club <br><a href="https://www.kanonvalley.com/" target="_blank">(Club Website &#8599;)</a></dd>
      </div>
    </dl>
    <div class="notice">
      <p>More tournament and registration details coming soon.</p>
    </div>
  </section>
  
  <section class="content-block">
    <h2>1st Annual Golf for Hope</h2>
    <p>Emma's Hope, Inc. is thrilled to announce our first annual Golf for Hope Charity Golf Tournament! Join us as we spend the day golfing, eating, and raising money for families whose children are diagnosed with life-threatening illnesses or cancers.</p>
  </section>
{% endblock %}