{% extends "layout.nunjucks" %}

{% set page_title = "events" %}

{% block site_title %}Register for the Emma's Hope 2018 Golf For Hope Charity Golf Tournament | {% endblock %}

{% block share_meta %}
<meta property="og:url" content="https://emmashopeinc.org/events/golf-for-hope/2018/register/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Register for the First Annual Golf for Hope Charity Golf Tournament" />
<meta property="og:description" content="Register your group of four players today for our first annual Golf for Hope Charity Golf Tournament. We are playing at Kanon Valley in Oneida, NY on July 9, 2018." />
<meta property="og:image" content="https://emmashopeinc.org/img/golf-for-hope/2018/golf-for-hope-2018.jpg" />
{% endblock share_meta %}

{% block page_class %}landing events{% endblock %}

{% block cta %}{% endblock %}

{% block site_content %}
  
  <section class="content-block margin-top padding-vertical text-center no-margin-bottom">
    <h2 class="text-center">Tournament Registration</h2>
    <p>July 9, 2018 &mdash; <a class="nolink" href="https://maps.google.com/?saddr=Current+Location&daddr=43.140974664881824,-75.70847315000003&driving" target="_blank">Kanon Valley Country Club</a></p>
    <p>Rather register by mail & check?<br><a href="/events/golf-for-hope/2018/registration-form.pdf">Download the Registration Form</a></p>
  </section>
  
  <div class="callout text-center margin-bottom no-margin-top">
    <p class="sans spaced upper"><strong>Registration ends June 30th, 2018</strong></p>
  </div>
  
  <section class="content-block">
    <div class="text-center">
      <h3 class="sans text-center">Who's Golfing?</h3>
      
      <div class="golfer-choices">
        <input id="golfer_foursome" value="foursome" type="radio" name="golfer_type" class="golfer-radio">
        <label for="golfer_foursome" class="golfer-choice">
          A team of four <span class="price">$400</span>
          <p>Includes golf, cart, boxed lunch, dinner for four.</p>
        </label>
        
        <input id="golfer_single" value="single" type="radio" name="golfer_type" class="golfer-radio">
        <label for="golfer_single" class="golfer-choice">
          I'm golfing solo <span class="price">$100</span>
          <p>Includes golf, cart, boxed lunch, dinner for one.</p>
        </label>
        
        <input id="golfer_dinner" value="dinner" type="radio" name="golfer_type" class="golfer-radio">
        <label for="golfer_dinner" class="golfer-choice">
          Dinner only, please <span class="price">$50</span>
          <p>Includes dinner for you.</p>
        </label>
      </div>
      
      <p class="js-price is-hidden sans">Total cost today: <span class="js-total"></span></p>
      <input id="hidden-price" type="hidden" name="total-price">
    </div>
    
    <form id="registration-form" action="" method="GET" class="is-hidden">     
      <div id="golfer-foursome">
        <div class="form-field">
          <div class="form-row">
            <label for="team_name">Team Name: <span>(required)</span></label>
            <input id="team_name" type="text" class="js-fields inputs" required>
          </div>
        </div>
        
        <div class="form-field">
          <h2>Golfer 1 <span>(Team Captain)</span></h2>
          <div class="form-row">
            <label for="golfer_1_name">Full Name: <span>(required)</span></label>
            <input id="golfer_1_name" type="text" class="js-fields inputs" required>
          </div>
          <div class="form-row">
            <label for="golfer_1_email">Email: <span>(required)</span></label>
            <input id="golfer_1_email" type="email" class="js-fields inputs" required>
          </div>
        </div>
        
        <div class="form-field">
          <h2>Golfer 2</h2>
          <div class="form-row">
            <label for="golfer_2_name">Full Name: <span>(required)</span></label>
            <input id="golfer_2_name" type="text" class="js-fields inputs" required>
          </div>
          <div class="form-row">
            <label for="golfer_2_email">Email:</label>
            <input id="golfer_2_email" type="email" class="js-fields inputs">
          </div>
        </div>
        
        <div class="form-field">
          <h2>Golfer 3</h2>
          <div class="form-row">
            <label for="golfer_3_name">Full Name: <span>(required)</span></label>
            <input id="golfer_3_name" type="text" class="js-fields inputs" required>
          </div>
          <div class="form-row">
            <label for="golfer_3_email">Email:</label>
            <input id="golfer_3_email" type="email" class="js-fields inputs">
          </div>
        </div>
        
        <div class="form-field">
          <h2>Golfer 4</h2>
          <div class="form-row">
            <label for="golfer_4_name">Full Name: <span>(required)</span></label>
            <input id="golfer_4_name" type="text" class="js-fields inputs" required>
          </div>
          <div class="form-row">
            <label for="golfer_4_email">Email:</label>
            <input id="golfer_4_email" type="email" class="js-fields inputs">
          </div>
        </div>
      </div>
      
      <input class="button button--large" id="submit-form" type="submit" value="Continue to Payment &rarr;">
      
    </form>
    
    <div id="review-form" class="purchase-form is-hidden">
      <h2 class="text-center">Review Information</h3>
      <div class="button-wrap text-center">
        <button class="button button--small button--gray js-edit-info">&larr; Edit Info</button>
      </div>
      <div class="form-field review-field">
        <div class="form-row review-row">
          <label>Team Name:</label>
          <input id="review_team_name" type="text" class="js-review readonly" readonly>
        </div>
      </div>
      <div class="form-field review-field">
        <h3>Golfer 1 <span>(Team Captain)</span></h3>
        <div class="form-row review-row">
          <label>Full Name:</label>
          <input id="review_golfer_1_name" type="text" class="js-review readonly" readonly>
        </div>
        <div class="form-row review-row">
          <label>Email:</label>
          <input id="review_golfer_1_email" type="text" class="js-review readonly" readonly>
        </div>
      </div>
      <div class="form-field review-field">
        <h3>Golfer 2</h3>
        <div class="form-row review-row">
          <label>Full Name:</label>
          <input id="review_golfer_2_name" type="text" class="js-review readonly" readonly>
        </div>
        <div class="form-row review-row">
          <label>Email:</label>
          <input id="review_golfer_2_email" type="text" class="js-review readonly" readonly>
        </div>
      </div>
      <div class="form-field review-field">
        <h3>Golfer 3</h3>
        <div class="form-row review-row">
          <label>Full Name:</label>
          <input id="review_golfer_3_name" type="text" class="js-review readonly" readonly>
        </div>
        <div class="form-row review-row">
          <label>Email:</label>
          <input id="review_golfer_3_email" type="text" class="js-review readonly" readonly>
        </div>
      </div>
      <div class="form-field review-field">
        <h3>Golfer 4</h3>
        <div class="form-row review-row">
          <label>Full Name:</label>
          <input id="review_golfer_4_name" type="text" class="js-review readonly" readonly>
        </div>
        <div class="form-row review-row">
          <label>Email:</label>
          <input id="review_golfer_4_email" type="text" class="js-review readonly" readonly>
        </div>
      </div>
    </div>
    
    <form id="golfer-single" action="./" method="GET" class="is-hidden">
      <p id="solo-info" class="text-center is-hidden">We're happy to add you to a team of four for the tournament.</p>
      <div class="form-field padding-bottom">
        <h2>Your Information</h2>
        <div class="form-row">
          <label for="single_name">Full Name: <span>(required)</span></label>
          <input id="single_name" type="text" class="inputs" required>
        </div>
        <div class="form-row">
          <label for="single_email">Email: <span>(required)</span></label>
          <input id="single_email" type="email" class="inputs" required>
        </div>
      </div>
      <div class="text-center">
        <input class="button button--large" type="submit" value="Continue to Payment &rarr;">
      </div>
    </form>
    
    <div id="purchase-button" class="margin-top text-center is-hidden">
      <div id="paypal-button-container"></div>
    </div>
    
  </section>
  <section class="content-block text-center">
    <p>Don't forget to bring extra cash for raffle prize tickets, the 50/50 charity raffle, and extra purchases!</p>
  </section>
  
  <section class="info-block bg--gray margin-top">
    <div class="info-block-left text-center">
      <h3>Player's Pack Add-on</h3>
      <p>(Purchase for $50 at the Event)</p>
      <ul class="text-left">
        <li>Two Mulligans</li>
        <li>Entry to Closest to the Pin contest</li>
        <li>Entry to "Hit It to Win It" putting contest</li>
        <li>Entry to Hole in One contest</li>
      </ul>
    </div>
    <div class="info-block-right text-center border-left border-top--mobile">
      <h3>Individual Add-ons</h3>
      <p>(Purchase individually at the Event)</p>
      <ul class="text-left">
        <li>$25 &mdash; Entry to Closest to the Pin contest</li>
        <li>$25 &mdash; Entry to Hole in One contest</li>
        <li>$10 &mdash; Entry to "Hit It to Win It" putting contest</li>
        <li>$10 &mdash; Two mulligans</li>
      </ul>
    </div>
  </section>
  
  <section class="content-block padding-vertical text-center">
    <p>For Registration Information or Questions, contact Emma's Hope at <a href="tel:+13152175567">315-217-5567</a> or <a href="mailto:hello@emmashopeinc.org">hello@emmashopeinc.org</a></p>
  </section>
{% endblock %}

{% block footer_scripts %}
  <script>
    const registrationForm = document.getElementById('registration-form');
    const reviewForm = document.getElementById('review-form');
    const purchaseButton = document.getElementById('purchase-button');
    const editButton = document.querySelector('.js-edit-info');
    const formFields = [].slice.call(document.querySelectorAll('.js-fields'));
    const reviewFields = [].slice.call(document.querySelectorAll('.js-review'));
    const priceField = document.querySelector('.js-price');
    const priceTotal = document.querySelector('.js-total');
    const hiddenPrice = document.getElementById('hidden-price');
    const singleForm = document.getElementById('golfer-single');
    const singleInfo = document.getElementById('solo-info');
    const golferButtons = [].slice.call(document.querySelectorAll('.golfer-radio'));
    
    let registrationType = '';
    
    function scrollIt(destination, duration = 200, easing = 'linear', callback) {
      const easings = {
        linear(t) {
          return t;
        },
        easeInQuad(t) {
          return t * t;
        },
        easeOutQuad(t) {
          return t * (2 - t);
        },
        easeInOutQuad(t) {
          return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
        },
        easeInCubic(t) {
          return t * t * t;
        },
        easeOutCubic(t) {
          return (--t) * t * t + 1;
        },
        easeInOutCubic(t) {
          return t < 0.5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1;
        },
        easeInQuart(t) {
          return t * t * t * t;
        },
        easeOutQuart(t) {
          return 1 - (--t) * t * t * t;
        },
        easeInOutQuart(t) {
          return t < 0.5 ? 8 * t * t * t * t : 1 - 8 * (--t) * t * t * t;
        },
        easeInQuint(t) {
          return t * t * t * t * t;
        },
        easeOutQuint(t) {
          return 1 + (--t) * t * t * t * t;
        },
        easeInOutQuint(t) {
          return t < 0.5 ? 16 * t * t * t * t * t : 1 + 16 * (--t) * t * t * t * t;
        }
      };

      const start = window.pageYOffset;
      const startTime = 'now' in window.performance ? performance.now() : new Date().getTime();

      const documentHeight = Math.max(document.body.scrollHeight, document.body.offsetHeight, document.documentElement.clientHeight, document.documentElement.scrollHeight, document.documentElement.offsetHeight);
      const windowHeight = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName('body')[0].clientHeight;
      const destinationOffset = typeof destination === 'number' ? destination : destination.offsetTop;
      const destinationOffsetToScroll = Math.round(documentHeight - destinationOffset < windowHeight ? documentHeight - windowHeight : destinationOffset);

      if ('requestAnimationFrame' in window === false) {
        window.scroll(0, destinationOffsetToScroll);
        if (callback) {
          callback();
        }
        return;
      }

      function scroll() {
        const now = 'now' in window.performance ? performance.now() : new Date().getTime();
        const time = Math.min(1, ((now - startTime) / duration));
        const timeFunction = easings[easing](time);
        window.scroll(0, Math.ceil((timeFunction * (destinationOffsetToScroll - start)) + start));

        if (window.pageYOffset === destinationOffsetToScroll) {
          if (callback) {
            callback();
          }
          return;
        }

        requestAnimationFrame(scroll);
      }

      scroll();
    }
    
    const fillReviewData = function() {
      formFields.forEach(function(field) {
        document.getElementById('review_' + field.id).value = field.value;
      });
    }
    
    registrationForm.addEventListener('submit', function(e) {
      e.preventDefault();
      this.classList.add('is-hidden');
      fillReviewData();
      reviewForm.classList.remove('is-hidden');
      purchaseButton.classList.remove('is-hidden');
      scrollIt(document.querySelector('#review-form'), 300, 'easeOutQuad');
    });
    
    editButton.addEventListener('click', function() {
      reviewForm.classList.add('is-hidden');
      singleForm.classList.add('is-hidden');
      purchaseButton.classList.add('is-hidden');
      registrationForm.classList.remove('is-hidden');
    });
    
    golferButtons.forEach(function(button) {
      button.addEventListener('change', function() {
        priceField.classList.remove('is-hidden');
        singleInfo.classList.add('is-hidden');
        let val = this.value;
        if (val === 'foursome') {
          registrationForm.classList.remove('is-hidden');
          singleForm.classList.add('is-hidden');
          purchaseButton.classList.add('is-hidden');
          priceTotal.innerHTML = '$400';
          hiddenPrice.value = 400;
          registrationType = 'foursome'
        } else {
          registrationForm.classList.add('is-hidden');
          singleForm.classList.remove('is-hidden');
          if (val === 'single') {
            singleInfo.classList.remove('is-hidden');
          }
          priceTotal.innerHTML = (val === 'single') ? '$100' : '$50';
          hiddenPrice.value = (val === 'single') ? 100 : 50;
          registrationType = (val === 'single') ? 'single' : 'dinner';
        }
      });
      
      singleForm.addEventListener('submit', function(e) {
        this.querySelector('input[type="submit"]').parentNode.classList.add('is-hidden');
        purchaseButton.classList.remove('is-hidden');
        e.preventDefault();
      });
    });
    
  </script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script>    
    const APIData = {
      'headers': new Headers({
        'Accept': 'application/json'
      }),
      'urls': {
        'upload': 'https://script.google.com/macros/s/AKfycbwvV6Ccj9DbAUZ2vySUWr9FkwN-4mIBZcoXbX1URtOFSyscoSY/exec'
      }
    };
    
    const callAPI = async (APIurl, data) => {
      // Options for the fetch call
      let fetchOptions = {
        headers: APIData.headers,
        method: 'GET'
      };

      // Make the request to the server and return
      // the response once the Promise is resolved
      return (await fetch(APIurl, fetchOptions)).json();
    }
    
    
    paypal.Button.render({
        env: 'sandbox', // sandbox | production

        style: {
          layout: 'vertical',  // horizontal | vertical
          size:   'responsive',    // medium | large | responsive
          shape:  'pill',      // pill | rect
          color:  'gold'       // gold | blue | silver | black
        },

        funding: {
          disallowed: [ paypal.FUNDING.CREDIT ]
        },

        client: {
          sandbox:'AWaVhlxaePxWX0eEwAslx0kdyS2Lpu3xHCI2xcQ5vrHhxGcKXowCWWvClBi8UflpLyBRc0tx4KL0amkP',
          production: 'AYC_WlgGsZDfz3As3hsAugPorx_VIWiP169tdbYRkAAyKJoAD_rOqHPJXtRbdHJkij8nG7dSiLJo2C5l'
        },
        
        commit: true,

        payment: function(data, actions) {
          return actions.payment.create({
            payment: {
              transactions: [
                {
                  amount: { total: hiddenPrice.value, currency: 'USD' },
                  description: 'Golf For Hope 2018 Registration'
                }
              ],
              note_to_payer: 'Contact us for any questions on your registration.',
              redirect_urls: {
                return_url: 'https://emmashopeinc.org/events/golf-for-hope/2018/thank-you/',
                cancel_url: 'https://emmashopeinc.org/events/golf-for-hope/2018/cancel/'
              }
            }
          });
        },

        onAuthorize: function(data, actions) {
          return actions.payment.execute().then(function() {
            
            let formData = {
              "team_name": document.getElementById('review_team_name').value,
              "registration_date": new Date(Date.now()).toLocaleString().split(',')[0],
              "registration_type": registrationType,
              "date_paid": new Date(Date.now()).toLocaleString().split(',')[0],
              "single_name": document.getElementById('single_name').value,
              "single_email": document.getElementById('single_email').value,
              "golfer_1_name": document.getElementById('review_golfer_1_name').value,
              "golfer_1_email": document.getElementById('review_golfer_1_email').value,
              "golfer_2_name": document.getElementById('review_golfer_2_name').value,
              "golfer_2_email": document.getElementById('review_golfer_2_email').value,
              "golfer_3_name": document.getElementById('review_golfer_3_name').value,
              "golfer_3_email": document.getElementById('review_golfer_3_email').value,
              "golfer_4_name": document.getElementById('review_golfer_4_name').value,
              "golfer_4_email": document.getElementById('review_golfer_4_email').value
            };
            newData = JSON.stringify(formData);
            newData = newData.replace(/{"/g, "?");
            newData = newData.replace(/":"/g, "=");
            newData = newData.replace(/","/g, "&");
            newData = newData.replace(/"}/g, "");
            
            callAPI(APIData.urls.upload + newData, formData)
              .then((uploadResponse) => {
                if (uploadResponse.result === 'success') {
                  return actions.redirect();
                }
            });
          });
        },
        
        onError: function(err) {
          console.log(err);
        }

    }, '#paypal-button-container');
  </script>
{% endblock %}