{% extends "layout.nunjucks" %}

{% block site_title %}Thank You for Registering for Golf for Hope 2019! | {% endblock %}

{% block page_class %}no-promo thank-you{% endblock %}

{% block cta %}{% endblock %}

{% block site_content %}
  <section class="padding-bottom border-bottom text-center">
    <h1 class="site-title">Thank You!</h1>
    <h2 class="text-center">You are now registered for<br> Golf for Hope 2019!</h2>
    <br>
    <p>You will receive an email receipt for your registration <br>as well as a reminder email with more instructions a week before the event.</p>
    <p>We'll see you on Saturday, July 13th, 2019!</p>
  </section>
{% endblock %}