{% extends "layout.nunjucks" %}

{% block site_title %}Providing Hope and Love to Parents of Diagnosed Children | {% endblock %}

{% block page_class %}about{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">About Us</h1>
    <h2>Our Mission</h2>
    <p>Emma's Hope, Inc. exists to be an aide and liaison for the families of children who have been diagnosed with severe illnesses and cancers living in the state of New York. Emma's Hope, Inc. will provide services, support, and activities throughout the year for the benefit, encouragement, and assistance of the aforementioned families.</p>
    <a href="/emmas-story.html">Read Emma's Story &rarr;</a>
  </section>

  <section class="content-block">
    <h2>Our Vision</h2>
    <p>Our goal at Emma's Hope is to tangibly share the love, hope, and peace that we have received from Jesus with families who are currently experiencing or who have experienced the difficult challenges that come with having a child diagnosed with a life-threatening illness.</p>
  </section>

  <section class="content-block">
    <h2>Board of Directors</h2>
    <dl class="list--wide">
      <div>
        <dt>President</dt>
        <dd>Alex Wright</dd>
      </div>
      <div>
        <dt>Vice President</dt>
        <dd>Jane Wright</dd>
      </div>
      <div>
        <dt>Secretary</dt>
        <dd>Sara Loucy-Swartz</dd>
      </div>
      <div>
        <dt>Treasurer</dt>
        <dd>Brad Loucy</dd>
      </div>
    </dl>
  </section>
{% endblock %}