{% extends "layout.nunjucks" %}

{% block site_title %}{% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  <figure class="site-logo">
    <img src="/img/logo@2x.png" alt="Emma's Hope, Inc. logo">
    <figcaption class="site-logo__title">Emma's Hope</figcaption>
  </figure>

  <section class="mission">
    <img srcset="/img/emma-mission--small.jpg 320w,
                 /img/emma-mission--full.jpg 480w"
      src="/img/emma-mission--full.jpg" alt="Emma Grace Wright">

    <h2>Our Mission</h2>
    <p>Emma's Hope, Inc. exists to be an aide and liaison for the families of children who have been diagnosed with severe illnesses and cancers living in the state of New York. Emma's Hope, Inc. will provide services, support, and activities throughout the year for the benefit, encouragement, and assistance of the aforementioned families.</p>
  </section>
{% endblock %}