{% extends "layout.nunjucks" %}

{% block site_title %}We Provide Hope for Families of Diagnosed Children | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  <figure class="site-logo">
    <img src="/img/logo@2x.png" alt="Uppercase E with flowers inside of it.">
    <figcaption class="site-logo__title">Emma's Hope</figcaption>
  </figure>

  <section class="mission">
    <img srcset="/img/emma-mission--small.jpg 320w,
                 /img/emma-mission--full.jpg 480w"
      src="/img/emma-mission--full.jpg" alt="Emma Grace Wright wearing a headband with a pink bow.">

    <div class="mission-content">
      <h2>Our Purpose</h2>
      <p>Emma's Hope, Inc. was formed to provide hope for and meet the needs of parents and families of children who have been diagnosed with life-threatening illnesses and cancers.</p>
      <a href="/emmas-story.html">Read Emma's Story &rarr;</a>
    </div>
  </section>
{% endblock %}