{% extends "layout.nunjucks" %}

{% block site_title %}We Provide Hope for Families of Diagnosed Children | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  
  <section class="callout padding-vertical text-center">
    <h3>1st Annual Golf for Hope Tournament</h3>
    <p>Join us at Kanon Valley Country Club in Oneida, NY on July 9th, 2018.</p>
    <a class="button" href="/events/golf-for-hope/2018/">Event Details &rarr;</a>
  </section>

  <section class="mission">
    <img src="/img/emma-mission--full.jpg" alt="Emma Grace Wright wearing a headband with a pink bow.">

    <div class="mission-content">
      <h2>Our Purpose</h2>
      <p>Emma's Hope, Inc. was formed to provide hope, support, and meet the needs of parents and families whose children have been diagnosed with life-threatening illnesses and cancers.</p>
      <a href="/about/">Learn More About Us &rarr;</a>
    </div>
  </section>
{% endblock %}