{% extends "layout.nunjucks" %}

{% block site_title %} | our services and offerings to families in need.{% endblock %}

{% block page_class %}services{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Our Services</h1>
    <h2>Essentials Basket</h2>
    <p>The Essentials Basket will consist of items most commonly forgotten by parents (garnered from our past experience) as well as items to help make admissions in the hospital more comfortable and pleasant.</p>
    <p>Each basket will include a food gift card, a parking garage voucher, healthy pre-packaged snacks, and toiletry items.</p>
  </section>

  <section class="content-block">
    <h2>Coming Soon</h2>
    <p>We are currently working with the staff at Upstate Golisano Hospital to finalize additional services and offerings that we can provide for families, both in and outside the hospital.  However, we need your financial help to make any of the services we provide a reality.</p>
    <a href="/donate.html">Give Your Gift Here &rarr;</a>
  </section>
{% endblock %}