.progress {
  border-radius: 10px;
  background-color: white;
  
  &-goal {
    margin-bottom: 1rem;
    
    font-size: 200%;
    font-weight: 300;
    text-align: center;
    
    .gifts-widget & {
      font-size: 150%;
      margin-bottom: 0.5rem;
    }
  }
  
  $progress-height: 20px;
  
  &-bar {
    width: 100%;
    height: $progress-height;
    
    background: $xmas-gray;
    border-radius: $progress-height / 2;
    overflow: hidden;
  }
  
  &-meter {
    height: $progress-height;
    max-width: 100%;
    
    float: left;
    
    background: $xmas-green;
  }
  
  &-stats {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 1rem;
  }
  
    &-stat {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      flex-basis: 50%;
      font-size: .6875rem;
      text-align: center;
      text-transform: uppercase;
      
      @media (min-width: 540px) {
        margin-bottom: 0;
        flex-basis: auto;
        text-align: left;
      }
    }
    
      &-number {
        display: block;
        font-size: 1rem;
      }
}