.promotion {
  padding-top: .4rem;
  padding-bottom: .4rem;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to right, $logo-purple, $pink);
  text-align: center;
  
  p {
    margin: 0 1rem 0;
    color: $white;
    font-size: 85%;
  }
  
  .no-promo & {
    display: none;
  }
}