.sponsor-form {
  background-color: $xmas-gray;
  padding: 1rem;
  
  font-size: 120%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  @media (min-width: 540px) {
    padding: 2rem;
    font-size: 120%;
  }
  
  &-amount {
    padding-left: .5rem;
    
    border: 1px solid $xmas-gold;
    border-radius: 3px;
    font-size: 100%;
  }
  
  &-button-wrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    
    @media (min-width: 540px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    opacity: 0;
    position: absolute;
    
    &.is-active + label {
      background-color: lighten($blue-dark, 70%);
      border-color: $blue-dark;
      color: $blue-dark;
      
      &::before {
        content: '✓';
        position: absolute;
        top: .25rem;
        right: .25rem;
        
        height: 1rem;
        width: 1rem;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: $blue-dark;
        color: white;
        border-radius: 3rem;
      }
    }
  }
  
  &-button {
    position: relative;
    padding: .75rem 1rem;
    
    background: $white;
    border: 1px solid rgba($black, .2);
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"].submit-button {
    padding: 1rem;
    margin-top: 1rem;
    
    background-color: $pink;
    color: white;
    font-size: 100%;
    font-weight: 600;
    
    @media (min-width: 540px) {
      grid-column: span 2;
    }
  }
  
  &-helper {
    max-width: 70ch;
    margin: .5rem auto 0;
    
    font-size: 80%;
    
    @media (min-width: 540px) {
      font-size: 50%;
    }
  }
}